@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-color:#020617;
    --font--color:#fafaf9;
    --light-color:#64748b;
    --error-color: #f59e0b;
}

body {
    display: flex;
    flex-direction: column;  
    align-items: center;
    font-family: "Signika", sans-serif;
    margin-top: 2rem;    
    background-color: var(--dark-color);
    color: var(--font--color);
    
}
.body-main{
    background-color: var(--light-color);   
    box-shadow: inset 0px 0px 14px 3px #fafaf9;
    border-radius: 10px;
}

.navigation__container {
    margin: 2rem 2rem 0rem 2rem;
    text-align: center;
}

.navigation__container-heading {
    font-size: 2.2rem;
}

.navigation__container-text {
    font-size: 1.5rem;
    margin-top: 1.2rem;
    max-width: 40vw;
}
.main__container-data {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 44.7vw;
}

.main__container-content {   
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.3rem;
    margin: 1rem 0;
}

input {
    width: 20vw;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    border: none
}

.main__container-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button {
   
    width: 10vw;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    background-color: var(--dark-color);
    color: var(--font--color);
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;   
}
#error-msg{
    color:var(--error-color);
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0;   
    position: sticky; 
    top: 0px;
}
caption{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
table{    
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto 1rem auto;
    position: relative;
    bottom: 2px;
}
th,td{    
    border: 2px solid var(--dark-color);
}